<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">
  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800">
    <!-- Jumbotron -->
    <div class="container mx-auto xl:px-32 text-center lg:text-left">
      <div class="grid lg:grid-cols-2 flex items-center">
        <div class="mb-12 lg:mb-0">
          <div
            class="block rounded-lg shadow-lg px-6 py-12 lg:py-6 xl:py-12 md:px-12 lg:-mr-14"
            style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
            "
          >
            <h3 class="text-2xl font-bold mb-3">
              We know how valuable your time is
            </h3>
            <h5 class="text-lg text-blue-600 font-bold mb-12 lg:mb-10 xl:mb-12">
              Let us answer your questions
            </h5>

            <p class="font-bold mb-4">Anim pariatur cliche reprehenderit?</p>
            <p class="text-gra-500 mb-6">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt
              autem numquam dolore molestias aperiam culpa alias veritatis
              architecto eos, molestiae vitae ex eligendi libero eveniet
              dolorem, doloremque rem aliquid perferendis.
            </p>

            <p class="font-bold mb-4">Non cupidatat skateboard dolor brunch?</p>
            <p class="text-gra-500 mb-6">
              Distinctio corporis, iure facere ducimus quos consectetur ipsa ut
              magnam autem doloremque ex! Id, sequi. Voluptatum magnam sed fugit
              iusto minus et suscipit? Minima sunt at nulla tenetur, numquam
              unde quod modi magnam ab deserunt ipsam sint aliquid dolores
              libero repellendus cupiditate mollitia quidem dolorem odit
            </p>

            <p class="font-bold mb-4">
              Praesentium voluptatibus temporibus consequatur non aspernatur?
            </p>
            <p class="text-gra-500">
              Minima sunt at nulla tenetur, numquam unde quod modi magnam ab
              deserunt ipsam sint aliquid dolores libero repellendus cupiditate
              mollitia quidem dolorem.
            </p>
          </div>
        </div>

        <div>
          <img
            src="https://mdbootstrap.com/img/new/ecommerce/vertical/075.jpg"
            class="w-full rounded-lg shadow-lg"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
